@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    background-color: #020202;
    font-size: 100%;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:400px) {
    body {
        padding: 0;
        margin: 0;
    }
}



/* PRELOAD GIF */

/* NAVBAR*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    text-align: center;
    color: #020202;
}

header .navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

header .brand-title {
    margin-left: 5rem;

}

header .navbar-links ul {
    align-items: center;
    right: 0;
    margin-right: 5rem;
    display: flex;
}

header .navbar-links li {
    padding: 25px 10px 10px 10px;
    list-style: none;
    transition: .2s ease-in-out;
}

header .navbar-links li a {
    opacity: 1;
    text-decoration: none;
    color: #E9E9E9;
    padding: 0;
    display: block;
}

header .navbar-links li:hover {
    opacity: 0.5;
}

/* ABOUT*/

.about-btn {
    position: fixed;
    margin-right: 5rem;
    margin-top: 1rem;
    right: 0;
    z-index: 7;
    color: #E9E9E9;
    cursor: pointer;
    transition: .3s ease-in-out;
}


.about-btn span{
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 3px;
}

.about-btn:hover {
    color: #258bff;

}

.menu {
    z-index: 6;
    top: 0;
    position: absolute;
    background: url(images/about_image_portfolio.png) no-repeat 50% 50%;
    background-color: #020202;
    height: 100%;
    width: 100%;
    right: -100%;

}



.data {
    margin: 0;
    color: #E9E9E9;
    text-align: left;
}


.data .logo {
    margin: 3rem 0 3rem 10.813rem;
    top: 10%;
}

.data h1 {
    margin: 9rem 0 3rem 10.813rem;
    top: 20%;
    font: 600;
}

.data h3 {
    margin: 1rem 0 0 10.813rem;
    font-size: 16px;
    font-weight: 600;
    transition: .2s ease-in-out;
    color: #E9E9E9;

}

.data h3:hover {
    color: #258bff;
    transform: translateX(1%);

}

.data h4 {
    margin: 11rem 0 1.5rem 10.813rem;
    font-size: 16px;
    font-weight: 400;
}

.data p {
    font-size: 16px;
    text-align: left;
    padding: 0 3.75rem 0 0;
    margin: 0 0 0 10.813rem;
    width: 50%;
}



.data .social-links {
    margin: 0 0 0 10.813rem;
}

.data .social-links a {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 26px;
    text-align: center;
    line-height: 60px;
    border-radius: 25%;
    color: #E9E9E9;
    transition: all 0.5s ease-in-out;
    margin: 0 14px 0 0;

}

.data .social-links a:hover {
    color: #24262b;
    background-color: #E9E9E9;
}


/*Starting Page Menu*/

.tagline{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 5rem;
    margin-left: 10rem;
}

.tagline h1{
    color: #E9E9E9;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.start-menu {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.start-data {
    margin: 0;

}

.start-data ul{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 14.7rem;
}

.start-data li {
    font-size: 36px;
    padding: 5px;
    margin: 200px;
    list-style: none;
    font-weight: 500;
    letter-spacing: 1px;
    align-items: center;
    transition: .3s ease-in-out;

}

.start-data li a{
    text-decoration: none;
    color: #E9E9E9;
    display: block;
    transition: .3s ease-in-out;

}

.start-data li:hover{

    color: #164a86;
}


.start-data li a:hover{
    color: #164a86;
    align-content: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: -2rem;
}