@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    background-color: #020202;
    font-size: 100%;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}
body::-webkit-scrollbar {
    display: none;
}


.title{
    display: flex;
    position: fixed;
    margin-top: 1.5%;
    margin-left: 3%;
}

.title h1{
    color: #E9E9E9;
    font-weight: 500; 
    font-size: 30px;   
    transition: .2s ease-in-out;
    font-style: bold;
}

.title h1:hover{
    color: rgb(255, 230, 0);
    transform: translateX(5%);
}


.title h1 a{
    color: #E9E9E9;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.title h1 a:hover{
    color: rgb(255, 230, 0);
    text-decoration: none;
}


.list{
    display: flex;
    position: fixed;
    top: 20%;
    left: 0;
    color: #E9E9E9;
    margin-left: 3%;
}


.list ul li{
    color: #E9E9E9;
    font-size: 20px;
    list-style: none;
    padding: 14px;
    transition: .2s ease-in-out;
    letter-spacing: .5px;
}

.list ul li.active{
    color: rgb(255, 230, 0);
    transform: translateX(10%);
    list-style: square;
}

.list ul li:hover{
    transform: translateX(10%);
}


.list ul li a{
    color: #E9E9E9;
    text-decoration: none;
    transition: .2s ease-in-out;
}


.list ul li a.active{
    color: rgb(255, 230, 0);
    text-decoration: none;
    transition: .2s ease-in-out;
}

.list ul li a:hover{
    color: rgb(255, 230, 0);
    text-decoration: none;
}


.rights{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 3%;
    margin-bottom: 1%;
}

.rights p{
    color: #e9e9e97c;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
}



.menu {
    z-index: 6;
    top: 0;
    position: absolute;
    background: url(images/about_image_portfolio.png) no-repeat 50% 50%;
    background-color: #020202;
    height: 100%;
    width: 100%;
    right: -100%;

}



.data {
    margin: 0;
    color: #E9E9E9;
    text-align: left;
}


.data .logo {
    margin: 3rem 0 3rem 10.813rem;
    top: 10%;
}

.data h1 {
    margin: 12% 0 3rem 10.813rem;
    top: 20%;
    font: 600;
}

.data h3 {
    margin: 1.5rem 0 1.5rem 10.813rem;
    font-size: 16px;
    font-weight: 600;
    transition: .2s ease-out;
    color: #E9E9E9;

}

.data h3:hover {
    transform: translateX(2%);

}

.data h3 a{
    list-style: none;
    text-decoration: none;
    color: #E9E9E9;
    transition: .2s ease-in-out;
    
}

.data h3 a:hover {
    color: rgb(255, 230, 0);
}

.data h4 {
    margin: 3rem 0 1.5rem 10.813rem;
    font-size: 16px;
    font-weight: 400;
}

.data p {
    font-size: 16px;
    text-align: left;
    padding: 0 3.75rem 0 0;
    margin: 0 0 0 10.813rem;
    width: 50%;
}



.data .social-links {
    margin: 2rem 0 0 10.813rem;
}

.data .social-links a {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #E9E9E9;
    color: #E9E9E9;
    transition: all 0.5s ease-in-out;
    margin: 0 16px 0 0;

}

.data .social-links a:hover {
    color: #24262b;
    background-color: #E9E9E9;
}


/* Image gallery */



.container {
    width: 80%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* this is what controls how many columns there are*/
    grid-auto-rows: 400px;
    grid-gap: 5px;
    grid-auto-flow: row;
 

}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;

}

.gallery-item .image {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
}


.gallery-item .image.hide {
    display: none;
}

.gallery-item .image.show {
    animation: animate 0.4s ease;
}

@keyframes animate {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.gallery-item .image img {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
    transform: scale(1.025);
    opacity: 0.8;
    filter: blur(10px);
}

.gallery-item .proj_name {
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E9E9E9;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    pointer-events: none;
    z-index: 2;
    transition: .5s ease-in-out;
}

.gallery-item:hover .proj_name {
    opacity: 1;
    padding: 1em;
    width: 100%;
}

.gallery-item .proj_cat {
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E9E9E9;
    font-size: 12px;
    pointer-events: none;
    z-index: 2;
    transition: .5s ease-in-out;
}

.gallery-item:hover .proj_cat {
    opacity: 1;
    padding: 1em;
    width: 100%;
}


@media (max-width: 400px){
    
html{
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    background-color: #020202;
    font-size: 100%;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}
body::-webkit-scrollbar {
    display: none;
}

.title{
    display: flex;
    position: fixed;
    top: 4%;
    left: 0;
    width: 100%;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
}

.title h1{
    color: #E9E9E9;
    font-weight: 500; 
    font-size: 30px;   
    transition: .2s ease-in-out;
    font-style: italic;

}

.title h1:hover{
    color: rgb(255, 230, 0);
    transform: scale(1.1);
}


.title h1 a{
    color: #E9E9E9;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.title h1 a:hover{
    color: rgb(255, 230, 0);
    text-decoration: none;
}


.list{
    display: flex;
    position: fixed;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #E9E9E9;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;

}

.list ul{
    margin: 3rem 4rem;
    text-align: center;
}

.list ul li{
    color: #E9E9E9;
    font-size: 20px;
    list-style: none;
    padding: 14px;
    transition: .2s ease-in-out;
    letter-spacing: .5px;
}

.list ul li.active{
    color: rgb(255, 230, 0);
    transform: scale(1.1);
    list-style: square;
}

.list ul li:hover{
    transform: scale(1.1);
}


.list ul li a{
    color: #E9E9E9;
    text-decoration: none;
    transition: .2s ease-in-out;
}


.list ul li a.active{
    color: rgb(255, 230, 0);
    text-decoration: none;
    transition: .2s ease-in-out;
}

.list ul li a:hover{
    color: rgb(255, 230, 0);
    text-decoration: none;
}

.rights{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 0;
}

.rights p{
    color: #e9e9e97c;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
}

.about-btn {
    position: fixed;
    top: 3%;
    right: 8%;
    margin-right: 0;
    margin-top: 0;
    font-size: 24px;
    z-index: 7;
    color: #E9E9E9;
    cursor: pointer;
    transition: .3s ease-in-out;
}


.about-btn:hover {
    color: rgb(255, 230, 0);
    transform: scale(1.25);
}


}
