@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    background-color: #dadada;
    font-size: 100%;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}
body::-webkit-scrollbar {
    display: none;
}


.title{
    display: flex;
    position: fixed;
    margin-top: 1.5%;
    margin-left: 3%;
}

.title h1{
    color: #1e1e1e;
    font-weight: 700; 
    font-size: 38px;   
    transition: .2s ease-in-out;
    font-style: bold;
}

.title h1:hover{
    color: #946640;
    transform: translateX(5%);
}


.title h1 a{
    color: #1e1e1e;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.title h1 a:hover{
    color: #946640;
    text-decoration: none;
}

.title-mobile{
    display: none;
}


.list{
    display: flex;
    position: fixed;
    top: 20%;
    left: 0;
    color: #1e1e1e;
    margin-left: 3%;
}


.list ul li{
    color: #1e1e1e;
    font-size: 20px;
    list-style: none;
    padding: 14px;
    transition: .2s ease-in-out;
    letter-spacing: .5px;
}

.list ul li.active{
    color: #946640;
    font-weight: 700;
    transform: translateX(10%);
    list-style: square;
}

.list ul li:hover{
    transform: translateX(10%);
    list-style: square;
    font-weight: 700;
}


.list ul li a{
    color: #1e1e1e;
    text-decoration: none;
    transition: .2s ease-in-out;
}


.list ul li a.active{
    color: #946640;
    text-decoration: none;
    transition: .2s ease-in-out;
    list-style: square;
}

.list ul li a:hover{
    color: #221e1e;
    text-decoration: none;
    list-style: square;
}

.rights{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 3%;
    margin-bottom: 1%;
}

.rights p{
    color: #1e1e1e7c;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
}

.menu {
    z-index: -1;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(images/about_image_portfolio.jpg) no-repeat 50% 50%;
    background-color: #1e1e1e;

}



.data {
    margin: 10% 0 0 20%;
    color: #1e1e1e;

}


.data .logo {
    margin: 3rem 0 3rem 10;
    top: 10%;
}

.data h1 {
    margin: 12% 0 2% 0;
    font-weight: 900;
    color: #1e1e1e;
}

.data h3 {
    margin: 1.5% 0 1.5rem 0;
    font-size: 16px;
    font-weight: 600;
    transition: .2s ease-out;
    color: #1e1e1e;

}

.data h3:hover {
    transform: translateX(2%);

}

.data h3 a{
    list-style: none;
    text-decoration: none;
    color: #1e1e1e;
    transition: .2s ease-in-out;
    
}

.data h3 a:hover {
    color: #946640;
}

.data h4 {
    margin: 3rem 0 1.5rem 0;
    font-size: 16px;
    font-weight: 400;
}

.data p {
    font-size: 16px;
    text-align: justify;
    width: 42%;
}



.data .social-links {
    margin: 13% 0 0 0;
}

.data .social-links a {
    display: inline-block;
    height: 60px;
    width: 156px;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #946640;
    color: #946640;
    transition: all 0.5s ease-in-out;
    margin: 02% 0 0;

}

.data .social-links a:hover {
    color: #dadada;
    background-color: #946640;
}


@media (max-width: 700px){
    
html{
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    background-color: #1e1e1e;
    font-size: 100%;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}
body::-webkit-scrollbar {
    display: none;
}

.title{
    display: none;
    position: fixed;
    top: 3%;
    left: 0;
    width: 50%;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
}

.title h1{
    color: #1e1e1e;
    font-weight: 500; 
    font-size: 30px;   
    transition: .2s ease-in-out;
    font-style: italic;

}

.title h1:hover{
    color: #1e1e1e;
    transform: scale(1.1);
}


.title h1 a{
    color: #1e1e1e;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.title h1 a:hover{
    color: #1e1e1e;
    text-decoration: none;
}


.title-mobile{
    z-index: 5;
    display: flex;
    position: fixed;
    left: 36%;
    bottom: 0;
    padding: 0;
    margin: 0 0 15% 0;
  }

  
  .title-mobile h1:hover{
      color: #1e1e1e;
      transform: translateX(0%);
  }
  
  
  .title-mobile h1 a{
      color: #1e1e1e;
      text-decoration: none;
      transition: .2s ease-in-out;
  }
  
  .title-mobile h1 a:hover{
      color: #1e1e1e;
      text-decoration: none;
  }
  
  
  .title-mobile h1{
      font-weight: 500;
      font-size: 26px;
      color: 946640;
  }

.list{
    display: flex;
    position: fixed;
    top: 10%;
    left: 0;
    width: 50%;
    color: #1e1e1e;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;

}

.list ul{
    margin: 3rem 4rem;
    text-align: center;
}

.list ul li{
    color: #1e1e1e;
    font-size: 20px;
    list-style: none;
    padding: 14px;
    transition: .2s ease-in-out;
    letter-spacing: .5px;
}

.list ul li.active{
    color: #1e1e1e;
    transform: scale(1.1);
    list-style: square;
}

.list ul li:hover{
    transform: scale(1.1);
}


.list ul li a{
    color: #1e1e1e;
    text-decoration: none;
    transition: .2s ease-in-out;
}


.list ul li a.active{
    color: #1e1e1e;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.list ul li a:hover{
    color: #1e1e1e;
    text-decoration: none;
}

.rights{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 0;
}

.rights p{
    color: #1e1e1e;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
}





.menu {
    z-index: 3;
    top: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: url(images/about_image_portfolio_mobile.png) no-repeat 50% 50%;
    background-color: #1e1e1e;
    width: 100%;
    right: -100%;
    transition: .4s ease-in-out;   

}




.data {
 
    margin: 0;
    width: 100%;
    color: #1e1e1e;
}

.data h1 {
    position: relative;
    top: 0;
    left: 0;
    margin: 2.5rem 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.data p {
    display: flex;
    width: 100%;
    margin: 0rem 0 1rem 0;
    padding: 0 3.8rem;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
}

.data h3 {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    transition: .2s ease-out;
    color: #1e1e1e;

}

.data h3:hover {
    transform: scale(1.1);

}

.data h3 a{
    list-style: none;
    text-decoration: none;
    color: #1e1e1e;
    transition: .2s ease-in-out;
    
}

.data h3 a:hover {
    color: #1e1e1e;
}

.data h4 {
    position: relative;
    top: 0;
    left: 0;
    margin: 6rem 0 1rem 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}



.data .social-links {
    display: flex;
    margin: 0 3rem 2rem 3rem;
    justify-content: space-around;
}

.data .social-links a {
    display: inline-block;
    height: 60px;
    width: 156px;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 12px;
    border-style: solid;
    border-width: 0px;
    border-color: #1e1e1e;
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
    margin: 02% 0 0;

}

.data .social-links a:hover {
    color: #1e1e1e;
    background-color: #1e1e1e;
}


}
